<!DOCTYPE html>

<html>

<head>
    
    <style>
    body{
        background-image: url("/image/pb.jpg");
    }
    </style>   
    
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
    <link rel="stylesheet" href="/public/css/style.css">
</head>

<body>
      {{>header}}
    {{!-- <div class="main-content">
        <img class="circle" src="/image/img.jpg">
    </div> --}}
  

  <div class = "image-about">
   
<div>     
    <img src="/image/bala.png" width="400px"
  height="400px">
</div>

  <div class="about">
<p>Hi! I am Bala, a web designer/developer focused on crafting great web experiences. Designing and Coding have been my passion since the days I started working with computers but I found myself into web design/development since 2018. I enjoy creating beautifully designed, intuitive and functional websites</p>
  </div>

  </div>

    <div class="skills">
        <h2>Skills</h2>
    <img src="/image/nodejs.png">
    <img src="/image/mongodb.jpg">
    <img src="/image/css.jpg">
    <img src="/image/sql.jpg">
  </div>
  <div class = "image-container">
        <p class="sub"><a href="http://localhost:3000/projects">click here to go next page</a></p>
  </div>
</body>


</html>