<!DOCTYPE html>

<html>

<head>
    
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
<style>
    body{
        background-image: url("/image/pb.jpg");
    }
    </style>   

    <link rel="stylesheet" type="text/css" href="/public/css/style.css">

</head>


<body>
      {{>header}}

      <div class = "image-container">
          <img src="/image/bala.png" width="250px"
  height="250px">
      <p class="name">I Am Bala Nagendra Kumar N</p>
      <p class="sub">web developer</p>
      <p class="sub"><a href="http://localhost:3000/about">click here to go next page</a></p>
      </div>

</body>


</html>