<!DOCTYPE html>

<html>

<head>
    
    <style>
    body{
        background-image: url("/image/pb.jpg");
    }
    </style>   
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
      {{>header}}
    

  
<p>PROJECTS</p>

</body>


</html>