<!DOCTYPE html>

<html>

<head>
    
    <style>
    body{
        background-image: url("/image/pb.jpg");
    }
    </style>   
    {{!-- <link rel="icon" href="/img/weather.png"> --}}
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
      {{>header}}
    

  <div class = "image-about">
   
<div>     
    <img src="/image/bala.png" width="400px"
  height="400px">
</div>
  
<div class = "about">
<h1>Weather website:</h1>
<p>           A Web Application Used To Forecast Weather of any location (NodeJs,HTML,CSS)<a href="http://bnk-weather-application.herokuapp.com/">click here to go this website</a></p>
<h1>Chat Application </h1>
<p> A Real Time Chat-Application On The Web Built Using (NodeJs,HTML,CSS)<a href="https://bnk-chat-app.herokuapp.com/chat.html?username=BNK&room=bnk">click here to go this website</a></p>
</div>
</body>


</html>